.creator {
  min-height: 100vh;
  background: $mainBlue;
  padding: 10rem 8%;
  color: white;

  .wrapper {
    display: block;
    @mixin atMedium {
      display: flex;
      gap: 12rem;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__content,
  &__img {
    @mixin atMedium {
      width: 50%;
    }
  }

  &__content__title {
    font-size: 3.6rem;
    @mixin atMedium {
      font-size: 4.6rem;
    }
  }

  &__content__title__img {
    display: none;
    @mixin atMedium {
      display: inline-block;
      width: 160px;
      position: absolute;
      top: -12px;
    }
  }

  &__content__text {
    font-size: 2rem;
    max-width: 500px;
    line-height: 2.8rem;
    p:first-child {
      margin-bottom: 2rem;
    }
    a {
      color: $mainLemon;
      border-bottom: 1px solid $mainLemonHover;
      &:hover {
        color: $mainLemonHover;
        border-bottom: 1px solid $mainLemon;
      }
    }
  }

  &__content__cta {
    font-size: 1.6rem;
    padding: 0.8rem 3.2rem;
    text-align: center;
    color: $blackText;
    background: $mainLemon;
    border-radius: 9px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $mainLemonHover;
    }
    @mixin atSmall {
      font-size: 1.8rem;
      max-width: 210px;
    }
  }

  &__img {
    width: 70%;
    @mixin atSmall {
      width: 50%;
    }
    @mixin atMedium {
      width: 45%;
      display: flex;
      justify-content: space-around;
    }
    img {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
