$mainBlue: #0075eb;
$mainBlueHover: #0259b1;
$footerBlueLinkHover: #9dcbf8;
$mainSkyBlue: #dfeeff;
$lightSkyBlue: #f1f8ff;
$arrowSkyBlue: #97c7ff;
$mainLemon: #cff800;
$mainLemonHover: #bbe600;
$blackText: #0f0f0f;
$navLinksColor: #222222;
$grayText: #99a4af;
$grayTextHover: #626a72;
$grayBg: #f7f9fa;
$lemonShade1: #fbffe7;
$lemonShade2: #f3ffb6;
$lemonShade3: #eaff81;
$lemonShade4: #cff800;
$lemonShade5: #bbe600;
